.body {
    margin: 3rem;
}

.confirmation-text {
    margin: 1rem;
}

.sig-canvas {
    width: 100%;
    height: 90px;
}

.clear-signature-button{
    padding: 1rem;
}

.submit-button{
    padding: 1rem;
}