.parentContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}
img {
  display: block;
  max-width: 50vw;
  height: 100vh;
  width: 45vw;
}

.loginContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #378add;
  width: 60vw;
  height: 100vh;
  text-align: center;
  min-width: 30em;
}

.loginForm {
  font-family: 'IBM Plex Mono', monospace;
  width: 30vw;
  min-width: 20em;
  height:50vh;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 20px;
  background-color: #0b1f3a;
}

.loginFormContent {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: auto;
}

.loginFormTitle {
  font-size: 50px;
  color: rgb(255, 255, 255);
  font-weight: 800;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding-bottom: 20px;
  text-align: center;
}

label {
  font-size: 20px;
  font-weight: 600;
  color: white
}

.btn {
  text-align: center;
  vertical-align: center;
  width: 10vw;
  max-width: 12em;
  min-width: 8em;
  border-radius: 50px;
  background-color: #db901c;
  cursor: pointer;
}

.formInputs {
  padding:50px;
}

.form-control {
  text-align: center;
  width: 20vw;
  background-color: rgb(255, 255, 255);
  border-radius: 25px;
  height: 3em;
  min-width: 8em;
}

h1 {
  font-size: 100px;
  color: #000000;
  padding: 0rem 1rem 2rem;
  max-width: 50vw;
  font-family: 'Roboto Mono', monospace;
}

p {
  color: white;
}